@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    г. Нур-Султан<br />
    ул. Б. Момышулы 2Б<br />
    <abbr title="Phone">P:</abbr>
    8-777-777-77-77
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>